/* .header{
  background-image: url("./download.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
} */
ul{
  list-style: none;
  margin: 0;
  padding: 0;
  
}
a{
  text-decoration: none;

}
nav ul{
    display: flex;
    justify-content: space-between;
    height: 70px;
    float: right;
}
nav ul li{padding: 10px;}
nav ul li a{
             color: darkorange;
}
/* section{
        width: 100%;
        height: 25%vh;
        background-image: url("./download.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
}
.main{
      background-image: url(./download.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
} */