/* *{
  background-color: black;
} */
#header{width: 100%;
  /* background-image: url("download.jpeg"); */
  background-color: black;
  background-size: cover;
  opacity: 0.9;
  height: 150px;
  background-repeat: no-repeat;
} 
ul{
  list-style: none;
  margin: 0;
  padding: 0;
  
}
a{
  text-decoration: none;

}
.nav ul{
    display: block;
    justify-content: space-between;
    height: 70px;
    float: right;
}
.nav ul li{padding: 10px;}
.nav ul li a{
             color: darkorange;
}
#Section{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  height: 250px;
  justify-content: space-around;
  font-size: small;

}
.About{
          float: left;
          /* background-color:white; */
          border:2px solid darkorange;
          background-color: darkorange;
          width: 300px;
          height: 390px;
          box-sizing: border-box;
          padding: 10px;
          margin-left: 100px;
}
 .About_two{
           width:400px}
.About_two h2{
              color: darkorange;
}
button{
        background-color: darkorange;
}
#work_two{justify-content: space-between;
      margin-left: 200px;
      margin-right: 200px;
      display: flex;
      flex-direction: row;
      flex: 50%;
}
#work h2{
         color: darkorange;
}
#work{
      margin-top: 180px;
}
#work p:first-child{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
#work h2{
         text-align: center;
         margin-left: auto;
         margin-right: auto;
         justify-content: center;
}
.anitas{
        width: 40%;
      
}
.anitas p{
           font-size: small;
}
.band{
      width: 40%;
}
.band p{
        font-size: small;
}
#contact{display: block;
         background-color: black;
         opacity: 0.9;
         margin-top: 40px;
         color: darkorange;
}
.gmail{
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
}